#game-field {
    width: 160px;
    height: 100px;
    background-size: contain;
}

.game-field-cell {
    width: 20px;
    height: 20px;
}

.selected-game-field-cell {
    background-color: rgba(0, 0, 0, 0.3) !important;
}