body {
  height:264px;
  width:817px;
  border:1px solid black;
  margin:1px;
  padding:0;
  background-color:#2b2e38;
  font-family:"Varela Round",sans-serif;
  overflow:hidden
}




.timer-header {
  color: white;
  background-color: #555;
  text-align: center;
  font-size: 12px;
  font-weight: 900;
}

.timer-container {
  display: grid;
  grid-template-rows: 14px 48px;
  gap: 2px;
  width: 165px;
}

.timer-content {
  display: grid;
  grid-template-columns: 110px 16px;
  gap: 1px;
  background-color: yellow;
}

.timer-display-container {
  display: grid;
  grid-template-columns: 45px 45px 20px;
  grid-template-rows: 14px 20px 14px;
/*   gap: 2px; */
  color: white;
  font-size: 19px;
  text-align: center;
  background-color: blue;
}

.timer-button {
  background-color: lightgray;
  text-align: center;
  font-size: 9px;
  font-weight:900;
}

.timer-controllers-container {
  display: grid;
  grid-template-rows: 18px 27px;
  gap: 2px;
}

.timer-small-controllers {
  display: grid;
  grid-template-columns: 18px 18px 18px;
}

.timer-small-controllers>button {
  background-color: blue;
}

button.timer-main-controller {
  color: lightgray;
  background-color: #666;
  width: 52px;
  height: 26px;
  font-size: 10px;
  font-weight: 900;
}