#logos-container {
  display: flex;
  flex-wrap: wrap; /* Kluczowa właściwość - pozwala na zawijanie */
  gap: 10px; /* odstęp między elementami */
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
}

.logo-option {
  width: 120px;
  height: 120px;
  background-color: #3498db;
  color: white;
  display: flex;
  font-weight: bold;
  border-radius: 5px;
}

.logo-option>label>img {
  width: 80px;
  height: 80px;
}

.logo-option>label {
  width: 100%;
  height: 100%;
  text-align: center;
  align-content: center;
}