#modal {
    position: fixed;
    margin: 0;
    padding: 0 10%;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

#modal-body {
    position: relative;
    /*! margin: 0 10%; */
    padding: 0;
    height: 100%;
    width: 80%;
}

#modal-header {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 27px;
    background-color: darkblue;
}

#modal-content {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100vh - 20px)
}