.status-false {
    color:dimgray;
    background-color: lightgray;
}

.status-plugin-active {
    color: rgb(255, 157, 0) !important;
}

.status-plugin-healthy {
    background-color: chartreuse !important;
}

.filter-green {
    filter: brightness(0) saturate(100%)
    invert(19%) sepia(90%) saturate(5134%)
    hue-rotate(127deg) brightness(94%) contrast(102%) !important;
}

.filter-gray {
    filter: brightness(0) saturate(100%) invert(50%)
    sepia(4%) saturate(17%) hue-rotate(46deg)
    brightness(100%) contrast(101%);
}

.filter-black {
    filter: brightness(0) saturate(100%) invert(0%)
    sepia(91%) saturate(46%) hue-rotate(93deg)
    brightness(88%) contrast(97%) !important;
}

.filter-yellow {
    filter: brightness(0) saturate(100%) invert(86%)
    sepia(75%) saturate(610%) hue-rotate(1deg)
    brightness(106%) contrast(103%) !important;
}

.filter-red {
    filter: brightness(0) saturate(100%) invert(14%)
    sepia(88%) saturate(6968%) hue-rotate(360deg)
    brightness(102%) contrast(114%) !important;
}

#plugins-states-container {
    padding: 4px 2px;
    height: 34px;
    background-color: #ff0000;
}

.plugin-state {
    margin: 0px 2px;
    padding: 2px;
}

.recording-indicator {
    border: 1px solid black;
    padding: 2px;
    align-items: center;
    align-content: center;
    background-color: rgb(237, 237, 237);
    height: 19px;
}