**/.vs/
**/.vscode/
**/.claude/
**/_pobrane/
**/_work/
**/__pycache__/
**/.venv/
**/.idea/
**/instance/
*.zip
*.db
**/static/images/logos/*
!**/static/images/logos/default.png
*.md
*.exe*
*.*~
*.sqbpro
*.service
*.mp3
*.mp4
*.mkv
**/app/data/
*.env
**/temp/**
*.png
*.gif
**/images/
**/video/
config.h
