<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ module_name }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/timer.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <h1>🎮 {{ module_name }}</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <!-- Socket.IO -->
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    
    <!-- Main app JavaScript -->
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
	<script src="{{ url_for('static', filename='js/timer.js') }}"></script>
    
    {% block scripts %}{% endblock %}
</body>
</html>