<!-- 
Online HTML, CSS and JavaScript editor to run code online.
-->
<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
		<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}"> -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/ui.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/timer.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/penalty-timer-modal.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/reversible-elements.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/plugins-states.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/scoreboard.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/game-field.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/events-controllers.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/overlay-switcher.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/event-edit.css') }}">
		<style>
			.game-field-cell {background-image: url({{ url_for('static', filename='images/field/empty.png') }})}
			.game-field-selector {background-image: url({{ url_for('static', filename='images/field/football.png') }})}
		</style>
		<title>Browser</title>
	</head>
	
	<body>
		<div id="container">
			<div id="column-controls">
				<div class="top-bar">
					<button id="nav-to-game-settings" class="top-bar-element wingdings"><a href="/">Û</a></button>
				</div>
				<div id="timers-container" class="module-frame">
					<div id="{{ main_timer.timer_id }}-header" class="main-timer-header" data-state-for="{{ main_timer.timer_id }}">{{ main_timer.timer_id }}</div>
					<div class="timer-content">
						<div class="main-timer-display-container">
							<button onclick="adjustTimer('{{ main_timer.timer_id }}', -60000);" class="timer-button" data-timer-id="{{ main_timer.timer_id }}"></button>
							<button onclick="adjustTimer('{{ main_timer.timer_id }}', -1000);" class="timer-button" data-timer-id="{{ main_timer.timer_id }}"></button>
							<button onclick="adjustTimer('{{ main_timer.timer_id }}', -100);" class="timer-button ds-element ds-{{ main_timer.timer_id }}-element" data-timer-id="{{ main_timer.timer_id }}"></button>
							<div id="{{ main_timer.timer_id }}-min-display" class="timer-display" data-display-for="{{ main_timer.timer_id }}-min-display">102</div>
							<div id="{{ main_timer.timer_id }}-sec-display" class="timer-display" data-display-for="{{ main_timer.timer_id }}-sec-display">27</div>
							<div id="{{ main_timer.timer_id }}-ds-display" class="timer-display  ds-element ds-{{ main_timer.timer_id }}-element" data-display-for="{{ main_timer.timer_id }}-ds-display">4</div>
							<button onclick="adjustTimer('{{ main_timer.timer_id }}', 60000);" class="timer-button" data-timer-id="{{ main_timer.timer_id }}"></button>
							<button onclick="adjustTimer('{{ main_timer.timer_id }}', 1000);" class="timer-button" data-timer-id="{{ main_timer.timer_id }}"></button>
							<button onclick="adjustTimer('{{ main_timer.timer_id }}', 100);" class="timer-button ds-element ds-{{ main_timer.timer_id }}-element" data-timer-id="{{ main_timer.timer_id }}"></button>
			</div>
			<div class="timer-controllers-container">
				<div class="timer-small-controllers">
					<button id="btn-reset-timer" ondblclick="resetTimer('{{ main_timer.timer_id }}');">0</button>
					<button></button>
					<button id="btn-close-timer">X</button>
				</div>
			<div class="timer-main-controllers">
				<button class="timer-main-controller"
						data-timer-id="{{ main_timer.timer_id }}"
						data-timer-state="idle"
						onclick="startTimer('{{ main_timer.timer_id }}');">START</button>
						<button class="timer-main-controller nodisplayed"
						data-timer-id="{{ main_timer.timer_id }}"
						data-timer-state="running"
						onclick="pauseTimer('{{ main_timer.timer_id }}');">PAUZA</button>
						<button class="timer-main-controller nodisplayed"
						data-timer-id="{{ main_timer.timer_id }}"
						data-timer-state="paused"
						onclick="resumeTimer('{{ main_timer.timer_id }}');">WZNÓW</button>
					</div>
				</div>
			</div>
			<button class="thin-wide-button bg_red" onclick="openModal(modalID='modal-penalties-timers')">KARY</button>
			<div id="modal-penalties-timers" class="hidden">
				<div id="modal-penalties-header">
					<button class="top-bar-element bg_red" onclick="closeModal(modalID='modal-penalties-timers');">X</button>
				</div>
				<div id="penalties-timers" class="modal-content reversible">
					<div id="home-team-penalties-timers-container" class="penalties-timers-container flex1">
					</div>
					<div id="away-team-penalties-timers-container" class="penalties-timers-container flex1">
					</div>
				</div>
			</div>
		</div>

		<div id="game-teams-container" class="module-frame">
			<div id="game-teams-content">
				<div class="reversible scoreboard">
					<!-- Pierwszy wiersz - przyciski dodawania -->
					<button class="flex-item flex1" id="addFoulsHome" onclick="changeGameValue('fouls', 'home', 1)">+</button>
					<button class="flex-item flex1" id="addScoreHome" onclick="changeGameValue('score', 'home', 1)">+</button>
					<button class="flex-item flex1" id="addScoreAway" onclick="changeGameValue('score', 'away', 1)">+</button>
					<button class="flex-item flex1" id="addFoulsAway" onclick="changeGameValue('fouls', 'away', 1)">+</button>
				</div>
		
				<div class="reversible scoreboard">
					<!-- Drugi wiersz - etykiety -->
					<label class="flex-item flex1 fouls-label" id="labelFoulsHome"><span id="foulsHome">{{ period.home_team_fouls }}</span></label>
					<label class="flex-item flex1 goals-label" id="labelScoreHome"><span id="scoreHome">{{ game.home_team_goals }}</span></label>
					<label class="flex-item flex1 goals-label" id="labelScoreAway"><span id="scoreAway">{{ game.away_team_goals }}</span></label>
					<label class="flex-item flex1 fouls-label" id="labelFoulsAway"><span id="foulsAway">{{ period.away_team_fouls }}</span></label>
				</div>
		
				<div class="reversible scoreboard">		
					<!-- Trzeci wiersz - przyciski odejmowania -->
					<button class="flex-item flex1" id="substractFoulsHome" onclick="changeGameValue('fouls', 'home', -1)">-</button>
					<button class="flex-item flex1" id="substractScoreHome" onclick="changeGameValue('score', 'home', -1)">-</button>
					<button class="flex-item flex1" id="substractScoreAway" onclick="changeGameValue('score', 'away', -1)">-</button>
					<button class="flex-item flex1" id="substractFoulsAway" onclick="changeGameValue('fouls', 'away', -1)">-</button>
				</div>
				
				<div class="reversible">		
					<!-- Czwarty wiersz - dane drużyn -->
					<div class="flex-item flex3 data-item data-home" id="teamHomeName">{{ teams.home.short_name }}</div>
					<div class="flex-item flex2">
						<button id="reverse-scoreboard-button" onclick="reorderReversible()"><=></button>
					</div>
					<div class="flex-item flex3 data-item data-away" id="teamAwayName">{{ teams.away.short_name }}</div>
				</div>
				<div><button type="button" onclick="runSequence()">SEQENCE</button></div>
				<div><button type="button" onclick="startRecording()">REC.START</button></div>
				<div><button type="button" onclick="stopRecording()">REC.STOP</button></div>
				<div><button type="button" onclick="getObsWsConnection()">GET STATUS</button></div>
			</div>
		</div>
		
	</div>
	<div id="flash-msg-display" style="display: none;"></div>
	<div style="width:222px; height: 100vh;">
		<div id="plugins-states-container" style="display: flex;">
			<div id="timer-state" class="plugin-state status-false" data-plugin-for="timer-plugin">
				<img src="{{ url_for('static', filename='images/timer.svg') }}" 
				class="filter-gray"
				alt="T" 
				height="30" 
				width="30"/>
			</div>
			<div id="recorder-state" class="plugin-state status-false" data-plugin-for="recorder-plugin">
				<img src="{{ url_for('static', filename='images/floppy-disk.svg') }}" 
				class="filter-gray"
				alt="R" 
				height="30" 
				width="30"/>
			</div>
			<div id="obs-ws-state" class="plugin-state status-false" data-plugin-for="obs-ws-plugin">
				<img src="{{ url_for('static', filename='images/ObsLogo.svg') }}" 
				class="filter-gray"
				alt="O" 
				height="30" 
				width="30"/>
			</div>
		</div>
		<div id="cameras-states-container" style="display: flex;">
			<div>
				<div id="obs-recording-indicator" class="recording-indicator">
					<img src="{{ url_for('static', filename='images/handycam-obs.svg') }}" 
					class="filter-gray"
					alt="O" 
					height="19" 
					width="19"/>
				</div>
				<div class="pan-tilt-head-status"></div>
			</div>
			<div>
				<div id="camera1-recording-indicator" class="recording-indicator" data-camera-id="camera1">
					<img src="{{ url_for('static', filename='images/handycam1.svg') }}" 
					class="filter-gray"
					alt="O" 
					height="19" 
					width="19"/>
				</div>
				<div class="pan-tilt-head-status">			
				</div>
			</div>
			<div>
				<div id="camera2-recording-indicator" class="recording-indicator" data-camera-id="camera2">
					<img src="{{ url_for('static', filename='images/gopro2.svg') }}" 
					class="filter-gray"
					alt="O" 
					height="19" 
					width="19"/>
				</div>
				<div class="pan-tilt-head-status"></div>
			</div>
			<div>
				<div id="camera3-recording-indicator" class="recording-indicator" data-camera-id="camera3">
					<img src="{{ url_for('static', filename='images/gopro3.svg') }}" 
					class="filter-gray"
					alt="O" 
					height="19" 
					width="19"/>	
				</div>
				<div class="pan-tilt-head-status"></div>
			</div>
			<div>
				<div id="camera4-recording-indicator" class="recording-indicator" data-camera-id="camera4">
					<img src="{{ url_for('static', filename='images/gopro4.svg') }}" 
					class="filter-gray"
					alt="O" 
					height="19" 
					width="19"/>
				</div>
				<div class="pan-tilt-head-status"></div>
			</div>
		</div>
		<div id="overlay-switchers-container">
			<div id="overlay-off" class="overlay-switcher" ondblclick="showOverlay('empty')" style="background-image: url({{ url_for('static', filename='images/ui/cancel.png') }})"></div> 
			<div id="overlay-start-stream" class="overlay-switcher screen-container" ondblclick="showOverlay('start-stream-screen-container')" style="background-image: url({{ url_for('static', filename='images/ui/start.png') }})"></div> 
			<div id="overlay-lineup-team-a" class="overlay-switcher screen-container" ondblclick="showOverlay('lineup-team-a-screen-container')" style="background-image: url({{ url_for('static', filename='images/ui/team-a-lineup.png') }})"></div> 
			<div id="overlay-lineup-team-b" class="overlay-switcher screen-container" ondblclick="showOverlay('lineup-team-b-screen-container')" style="background-image: url({{ url_for('static', filename='images/ui/team-b-lineup.png') }})"></div> 
			<div id="overlay-game" class="overlay-switcher screen-container" ondblclick="showOverlay('game-screen-container')" style="background-image: url({{ url_for('static', filename='images/ui/game.png') }})"></div> 
		</div>
		<div id="events-controllers-container">
			<div id="reversible-events-controllers-container" class="reversible">
				<div id="home-side-events-controllers-container" class="side-events-controllers-container">
					<div id="home-save-controller" class="event-controller save-controller" onclick="addTeamEvent('home', 'Obrona');" style="background-image: url({{ url_for('static', filename='images/ui/save.png') }})"></div>
					<div id="away-goal-controller" class="event-controller goal-controller" onclick="addTeamEvent('away', 'Bramka');" style="background-image: url({{ url_for('static', filename='images/ui/goal.png') }})"></div>
					<div id="away-miss-controller" class="event-controller miss-controller" onclick="addTeamEvent('away', 'Pudło');" style="background-image: url({{ url_for('static', filename='images/ui/miss.png') }})"></div>
				</div>
				<div id="game-field" class="game-field-selector">
					<div class="game-field-row" style="display: flex;">
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="A1" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="B1" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="C1" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="D1" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="E1" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="F1" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="G1" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="H1" class="game-field-cell"></div>
					</div>
					<div class="game-field-row" style="display: flex;">
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="A2" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="B2" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="C2" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="D2" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="E2" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="F2" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="G2" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="H2" class="game-field-cell"></div>
					</div>
					<div class="game-field-row" style="display: flex;">
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="A3" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="B3" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="C3" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="D3" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="E3" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="F3" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="G3" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="H3" class="game-field-cell"></div>
					</div>
					<div class="game-field-row" style="display: flex;">
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="A4" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="B4" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="C4" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="D4" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="E4" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="F4" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="G4" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="H4" class="game-field-cell"></div>
					</div>
					<div class="game-field-row" style="display: flex;">
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="A5" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="B5" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="C5" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="D5" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="E5" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="F5" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="G5" class="game-field-cell"></div>
						<div ondblclick="selectGameFieldCell(this);" onclick="setCameraPosition(this)" id="H5" class="game-field-cell"></div>	
					</div>
				</div>
				<div id="away-side-events-controllers-container" class="side-events-controllers-container">
					<div id="away-save-controller" class="event-controller save-controller" onclick="addTeamEvent('away', 'Obrona');" style="background-image: url({{ url_for('static', filename='images/ui/save.png') }})"></div>
					<div id="home-goal-controller" class="event-controller goal-controller" onclick="addTeamEvent('home', 'Bramka');" style="background-image: url({{ url_for('static', filename='images/ui/goal.png') }})"></div>
					<div id="home-miss-controller" class="event-controller miss-controller" onclick="addTeamEvent('home', 'Pudło');" style="background-image: url({{ url_for('static', filename='images/ui/miss.png') }})"></div>
				</div>
			</div>
				<div id="bottom-events-controllers-container">
					<div id="hahaha-controller" class="event-controller" style="background-image: url({{ url_for('static', filename='images/ui/hahaha.png') }})"></div>
					<div id="hidded-events-controllers-container" class="hidden">
						<div id="var-controller" class="event-controller" onclick="addFieldEvent('var');" style="background-image: url({{ url_for('static', filename='images/ui/var.png') }})"></div>
						<div id="foul-controller" class="event-controller" onclick="addFieldEvent('foul');" style="background-image: url({{ url_for('static', filename='images/ui/foul.png') }})"></div>
						<div id="cancel-btn" class="event-controller" onclick="unselectAllGameFieldCells();" style="background-image: url({{ url_for('static', filename='images/ui/cancel.png') }})"></div>
					</div>
					<div id="bum-controller" class="event-controller" style="background-image: url({{ url_for('static', filename='images/ui/bum.png') }})"></div>
				</div>
			</div>
	</div>
	<div id="ui-monitor-container" style="width:420px; height: 100vh; background-color: black;">
		<div id="ui-monitor-controlls" style="display: flex;">
			<div class="flex1"><button type="button" onclick="showUiMonitorContent('events')">AKCJE</button></div>
			<div class="flex1"><button type="button" onclick="showUiMonitorContent()">X</button></div>
		</div>
		<div id="ui-monitor-content" data-is-events-update-blocked="false"></div>
	</div>
</div>
	
	
	
	

    <script>
    // Period data
    var period = {{ period.to_dict() | tojson if period else 'null' }};
    
    // Game data
    var game = {{ game.to_dict() | tojson if game else 'null' }};
    
    // Main timer data
    // var mainTimerData = {{ main_timer | tojson if main_timer else 'null' }};
    
    // Penalties data
    // var penaltiesData = {{ penalties | tojson if penalties else '[]' }};
  </script>

  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
  <script src="{{ url_for('static', filename='js/data.js') }}"></script>
  <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
  <script src="{{ url_for('static', filename='js/ui-modal.js') }}"></script>
  <script src="{{ url_for('static', filename='js/event-popup.js') }}"></script>
  <script src="{{ url_for('static', filename='js/ui-jinja.js') }}"></script>
  <script src="{{ url_for('static', filename='js/game-teams.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plugins-states.js') }}"></script>
  <script src="{{ url_for('static', filename='js/timer-recovery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/servo-utils.js') }}"></script>
  <script src="{{ url_for('static', filename='js/overlay-utils.js') }}"></script>
  <script src="{{ url_for('static', filename='js/events-controllers.js') }}"></script>
  </body>  
</html>