<!-- 
Online HTML, CSS and JavaScript editor to run code online.
-->
<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
		<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}"> -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/ui.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/timer.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/game-teams.css') }}">
		<title>Browser</title>
	</head>
	
	<body>
		<div id="column-controls">
			<div id="timers-container" class="module-frame">
				<div id="{{ main_timer.timer_id }}-header" class="main-timer-header" data-state-for="{{ main_timer.timer_id }}">{{ main_timer.timer_id }}</div>
				<div class="timer-content">
					<div class="main-timer-display-container">
		  <button onclick="adjustTimer('{{ main_timer.timer_id }}', 60000);" class="timer-button" data-timer-id="{{ main_timer.timer_id }}"></button>
		  <button onclick="adjustTimer('{{ main_timer.timer_id }}', 1000);" class="timer-button" data-timer-id="{{ main_timer.timer_id }}"></button>
		  <button onclick="adjustTimer('{{ main_timer.timer_id }}', 100);" class="timer-button ds-{{ main_timer.timer_id }}-element" data-timer-id="{{ main_timer.timer_id }}"></button>
		  <div id="{{ main_timer.timer_id }}-min-display" class="timer-display" data-display-for="{{ main_timer.timer_id }}-min-display">102</div>
		  <div id="{{ main_timer.timer_id }}-sec-display" class="timer-display" data-display-for="{{ main_timer.timer_id }}-sec-display">27</div>
		  <div id="{{ main_timer.timer_id }}-ds-display" class="timer-display ds-{{ main_timer.timer_id }}-element" data-display-for="{{ main_timer.timer_id }}-ds-display">4</div>
		  <button onclick="adjustTimer('{{ main_timer.timer_id }}', -60000);" class="timer-button" data-timer-id="{{ main_timer.timer_id }}"></button>
		  <button onclick="adjustTimer('{{ main_timer.timer_id }}', -1000);" class="timer-button" data-timer-id="{{ main_timer.timer_id }}"></button>
		  <button onclick="adjustTimer('{{ main_timer.timer_id }}', -100);" class="timer-button ds-{{ main_timer.timer_id }}-element" data-timer-id="{{ main_timer.timer_id }}"></button>
		</div>
		<div class="timer-controllers-container">
			<div class="timer-small-controllers">
				<button id="btn-reset-timer" ondblclick="resetTimer('{{ main_timer.timer_id }}');">0</button>
				<button></button>
				<button id="btn-close-timer">X</button>
			</div>
		  <div class="timer-main-controllers">
			  <button class="timer-main-controller"
					data-timer-id="{{ main_timer.timer_id }}"
					data-timer-state="idle"
					onclick="startTimer('{{ main_timer.timer_id }}');">START</button>
					<button class="timer-main-controller invisible"
					data-timer-id="{{ main_timer.timer_id }}"
					data-timer-state="running"
					onclick="pauseTimer('{{ main_timer.timer_id }}');">PAUZA</button>
					<button class="timer-main-controller invisible"
					data-timer-id="{{ main_timer.timer_id }}"
					data-timer-state="paused"
					onclick="resumeTimer('{{ main_timer.timer_id }}');">WZNÓW</button>
				</div>
			</div>
		</div>
		<button class="thin-wide-button bg_red" onclick="openModal('penalties-timers', modalID='modal-penalties-timers')">KARY</button>
	</div>

	<div id="modal-penalties-timers" class="invisible">
	  <div id="modal-penalties-body" style="width: 100%;">
        <div id="modal-penalties-header"><button class="small-button header-button" onclick="closeModal(modalID='modal-penalties-timers');">X</button> </div>
		<div id="penalties-timers" class="modal-content invisible reversible">
		  <div id="home-team-penalties-timers-container" class="penalties-timers-container">
			<button class="thin-wide-button bg_red" type="button" onclick="addPenaltyTimer('home')">2min</button>
		    {% if penalties and penalties | length > 0 %}
		      {% for penalty in penalties %}
			    {% if penalty.metadata.team | upper == 'HOME' %}
				  <div class="timer-card penalty-timer">
					<div id="{{ penalty.timer_id }}-header" class="penalty-timer-header">
                	  <button class="penalty-x-button" onclick="removeTimerFromUI('{{ penalty.timer_id }}')">X</button>
            		</div>
           			<div class="penalty-timer-display-container">
					  <div id="{{ penalty.timer_id }}-min-display" data-display-for="{{ penalty.timer_id }}-display" class="penalty-timer-display">0</div>
            		</div>
					<div class="penalty-timer-buttons-container">
					  <button onclick="adjustTimer('{{ penalty.timer_id }}', -1000);" class="penalty-timer-button" data-timer-id="{{ penalty.timer_id }}"></button>
					  <button onclick="adjustTimer('{{ penalty.timer_id }}', 1000);" class="penalty-timer-button" data-timer-id="{{ penalty.timer_id }}"></button>
					</div>
				  </div>
			    {% endif %}
		      {% endfor %}
			{% endif %}
		  </div>
		  <div id="away-team-penalties-timers-container" class="penalties-timers-container">
			<button class="thin-wide-button bg_red" type="button" onclick="addPenaltyTimer('away')">2min</button>
			{% if penalties and penalties | length > 0 %}
		      {% for penalty in penalties %}
			    {% if penalty.metadata.team | upper == 'AWAY' %}
				  <div class="timer-card penalty-timer">
					<div id="{{ penalty.timer_id }}-header" class="penalty-timer-header timer-small-controllers">
                	  <button class="penalty-x-button" onclick="removeTimerFromUI('{{ penalty.timer_id }}')">X</button>
            		</div>
           			<div class="penalty-timer-display-container">
					  <div id="{{ penalty.timer_id }}-min-display" data-display-for="{{ penalty.timer_id }}-display" class="penalty-timer-display">0</div>
            		</div>
					<div class="penalty-timer-buttons-container">
					  <button onclick="adjustTimer('{{ penalty.timer_id }}', -1000);" class="timer-button" data-timer-id="{{ penalty.timer_id }}"></button>
					  <button onclick="adjustTimer('{{ penalty.timer_id }}', 1000);" class="timer-button" data-timer-id="{{ penalty.timer_id }}"></button>
					</div>
				  </div>
			  {% endif %}
		    {% endfor %}
			{% endif %}
			</div>
		</div>
	  </div>
	</div>
	<div id="game-teams-container" class="module-frame">
		<button id="reverse-scoreboard-button" onclick="reverseScoreboard()">Odwróć układ</button>
		<div id="game-teams-content" class="before-layout">
			<!-- Pierwszy wiersz - przyciski dodawania -->
			<button class="grid-item row1-col1" id="addFoulsHome" onclick="changeGameValue('fouls', 'home', 1)">+</button>
			<button class="grid-item row1-col2" id="addScoreHome" onclick="changeGameValue('score', 'home', 1)">+</button>
			<button class="grid-item row1-col3" id="addScoreAway" onclick="changeGameValue('score', 'away', 1)">+</button>
			<button class="grid-item row1-col4" id="addFoulsAway" onclick="changeGameValue('fouls', 'away', 1)">+</button>
			
			<!-- Drugi wiersz - etykiety -->
			<label class="grid-item row2-col1" id="labelFoulsHome"><span id="foulsHome">0</span></label>
			<label class="grid-item row2-col2" id="labelScoreHome"><span id="scoreHome"></span></label>
			<label class="grid-item row2-col3" id="labelScoreAway"><span id="scoreAway"></span></label>
        	<label class="grid-item row2-col4" id="labelFoulsAway"><span id="foulsAway">0</span></label>
        
			<!-- Trzeci wiersz - przyciski odejmowania -->
			<button class="grid-item row3-col1" id="substractFoulsHome" onclick="changeGameValue('fouls', 'home', -1)">-</button>
			<button class="grid-item row3-col2" id="substractScoreHome" onclick="changeGameValue('score', 'home', -1)">-</button>
			<button class="grid-item row3-col3" id="substractScoreAway" onclick="changeGameValue('score', 'away', -1)">-</button>
			<button class="grid-item row3-col4" id="substractFoulsAway" onclick="changeGameValue('fouls', 'away', -1)">-</button>
			
			<!-- Czwarty wiersz - dane drużyn -->
			<div class="grid-item data-item data-home" id="teamHomeName">HOM</div>
			<div class="grid-item data-item data-away" id="teamAwayName">AWA</div>
		</div>
    </div>
    
</div>
	
	
	
	

    <script>
    // Period data
    var period = {{ period.to_dict() | tojson if period else 'null' }};
    
    // Game data
    var game = {{ game.to_dict() | tojson if game else 'null' }};
    
    // Main timer data
    var mainTimerData = {{ main_timer | tojson if main_timer else 'null' }};
    
    // Penalties data
    var penaltiesData = {{ penalties | tojson if penalties else '[]' }};
  </script>

  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
  <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
  <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
  <script src="{{ url_for('static', filename='js/ui-jinja.js') }}"></script>
  <script src="{{ url_for('static', filename='js/game-teams.js') }}"></script>
  <script src="{{ url_for('static', filename='js/timer-recovery.js') }}"></script>
  </body>  
</html>