.specific-colors {
  color: white;
  background-color: #303093;
  background-image: linear-gradient(to bottom, #303093, #080862);
}

.info-body-right {
  flex: 1;                 /* ← równa szerokość */
  display: flex;           /* ← centrowanie obrazka */
  justify-content: center;
  align-items: center;
}

.info-body-right img {
  width: 500px;
  height: 500px;
  object-fit: cover;       /* opcjonalnie – zachowuje proporcje w razie potrzeby */
}