#modal { width: 165px; height: 80px; background-color: #333; } 
#modal-header { width: 100%; background-color: #666; height: 16px; } 
#modal-content { display: flex; } 
.penalties-timers-container { flex: 1; } 
.penalty-element { height: 50%; border: 1px solid black; } 
.penalty-element-content { height: 60%; display: flex; } 
.remove-penalty-button { flex:1; } 
.penalty-display { flex:2.7; text-align: center; color: white; font-weight: bold;} 
.penalty-element-controllers { height: 40%; display: flex; } 
.penalty-modal-button { margin: 0; padding: 0 }
.penalty-button { flex:1; background-color: green; border: 1px solid black; height:100%; } 
.add-penalty-button { font-size: 10px; font-weight: bold; color: white; background-color: red; border: 1px solid black; width: calc(100% - 2px); height: calc(50% - 2px); margin: 1px;} 
.gap { flex: 5; }
.adjust-penalty-time-button { flex: 6;}