<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mecze{% endblock %} - Futsal NALF</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/basex.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/logos.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <a href="{{ url_for('index') }}">MECZ</a>
                {% if season %}
                    {% for league in season.leagues %}
                        <a href="{{ url_for('league_games', league_id=league.id) }}">{{ league.name }}</a>
                    {% endfor %}
                {% endif %}
                <!-- <a href="{{ url_for('list_seasons') }}">Sezony</a>
                <a href="{{ url_for('list_leagues') }}">Ligi</a>
                <a href="{{ url_for('list_games') }}" {% if request.endpoint == 'list_games' %}class="active"{% endif %}>Mecze</a>
                <a href="{{ url_for('list_teams') }}">Zespoły</a> -->
            </nav>
        </div>
    </header>
    <main class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    <div id="modal" class="invisible">
        <div id="modal-body">
            <div id="modal-header"><button class="small-button header-button" onclick="closeModal();">X</button> </div>
            {% block modal_content %}{% endblock %}
        </div>
    </div>
    </main>
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/logos.js') }}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
