<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Timer Overlay</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/overlay.css') }}">
</head>
<body>
    <div class="timer-overlay stopped" id="timer-display">
        00:00.00
    </div>
    
    <!-- Socket.IO -->
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    
    <!-- Overlay JavaScript -->
    <script src="{{ url_for('static', filename='js/overlay.js') }}"></script>
</body>
</html>