.rotate-table-row0 {animation: rotateTableRow 250ms ease 250ms 1 reverse both;}
.rotate-table-row1 {animation: rotateTableRow 250ms ease 500ms 1 reverse both;}
.rotate-table-row2 {animation: rotateTableRow 250ms ease 750ms 1 reverse both;}
.rotate-table-row3 {animation: rotateTableRow 250ms ease 1000ms 1 reverse both;}
.rotate-table-row4 {animation: rotateTableRow 250ms ease 1250ms 1 reverse both;}
.rotate-table-row5 {animation: rotateTableRow 250ms ease 1500ms 1 reverse both;}
.rotate-table-row6 {animation: rotateTableRow 250ms ease 1750ms 1 reverse both;}
.rotate-table-row7 {animation: rotateTableRow 250ms ease 2000ms 1 reverse both;}
.rotate-table-row8 {animation: rotateTableRow 250ms ease 2250ms 1 reverse both;}
.rotate-table-row9 {animation: rotateTableRow 250ms ease 2500ms 1 reverse both;}
.rotate-table-row10 {animation: rotateTableRow 250ms ease 2750ms 1 reverse both;}
.rotate-table-row11 {animation: rotateTableRow 250ms ease 3000ms 1 reverse both;}
.rotate-table-row12 {animation: rotateTableRow 250ms ease 3250ms 1 reverse both;}
.rotate-table-row13 {animation: rotateTableRow 250ms ease 3500ms 1 reverse both;}
.rotate-table-row14 {animation: rotateTableRow 250ms ease 3750ms 1 reverse both;}
.rotate-table-row15 {animation: rotateTableRow 250ms ease 4000ms 1 reverse both;}
.rotate-table-row16 {animation: rotateTableRow 250ms ease 4250ms 1 reverse both;}
.rotate-table-row17 {animation: rotateTableRow 250ms ease 4500ms 1 reverse both;}
.rotate-table-row18 {animation: rotateTableRow 250ms ease 4750ms 1 reverse both;}
.rotate-table-row19 {animation: rotateTableRow 250ms ease 5000ms 1 reverse both;}
.rotate-table-row20 {animation: rotateTableRow 250ms ease 5250ms 1 reverse both;}
.rotate-table-row21 {animation: rotateTableRow 250ms ease 5500ms 1 reverse both;}
.rotate-table-row22 {animation: rotateTableRow 250ms ease 5750ms 1 reverse both;}
.rotate-table-row23 {animation: rotateTableRow 250ms ease 6000ms 1 reverse both;}
.rotate-table-row24 {animation: rotateTableRow 250ms ease 6250ms 1 reverse both;}
.rotate-table-row25 {animation: rotateTableRow 250ms ease 6500ms 1 reverse both;}
.rotate-table-row26 {animation: rotateTableRow 250ms ease 6750ms 1 reverse both;}
.rotate-table-row27 {animation: rotateTableRow 250ms ease 7000ms 1 reverse both;}
.rotate-table-row28 {animation: rotateTableRow 250ms ease 7250ms 1 reverse both;}
.rotate-table-row29 {animation: rotateTableRow 250ms ease 7500ms 1 reverse both;}
.rotate-table-row30 {animation: rotateTableRow 250ms ease 7750ms 1 reverse both;}
.rotate-table-row31 {animation: rotateTableRow 250ms ease 8000ms 1 reverse both;}
.rotate-table-row32 {animation: rotateTableRow 250ms ease 8250ms 1 reverse both;}
.rotate-table-row33 {animation: rotateTableRow 250ms ease 8500ms 1 reverse both;}
.rotate-table-row34 {animation: rotateTableRow 250ms ease 8750ms 1 reverse both;}
.rotate-table-row35 {animation: rotateTableRow 250ms ease 9000ms 1 reverse both;}
.rotate-table-row36 {animation: rotateTableRow 250ms ease 9250ms 1 reverse both;}
.rotate-table-row37 {animation: rotateTableRow 250ms ease 9500ms 1 reverse both;}
.rotate-table-row38 {animation: rotateTableRow 250ms ease 9750ms 1 reverse both;}
.rotate-table-row39 {animation: rotateTableRow 250ms ease 10000ms 1 reverse both;}
.rotate-table-row40 {animation: rotateTableRow 250ms ease 10250ms 1 reverse both;}
.rotate-table-row41 {animation: rotateTableRow 250ms ease 10500ms 1 reverse both;}
.rotate-table-row42 {animation: rotateTableRow 250ms ease 10750ms 1 reverse both;}
.rotate-table-row43 {animation: rotateTableRow 250ms ease 11000ms 1 reverse both;}
.rotate-table-row44 {animation: rotateTableRow 250ms ease 11250ms 1 reverse both;}
.rotate-table-row45 {animation: rotateTableRow 250ms ease 11500ms 1 reverse both;}
.rotate-table-row46 {animation: rotateTableRow 250ms ease 11750ms 1 reverse both;}
.rotate-table-row47 {animation: rotateTableRow 250ms ease 12000ms 1 reverse both;}
.rotate-table-row48 {animation: rotateTableRow 250ms ease 12250ms 1 reverse both;}
.rotate-table-row49 {animation: rotateTableRow 250ms ease 12500ms 1 reverse both;}
