.specific-colors {
  color: white;
  background-color: #480f0f;
  background-image: linear-gradient(to bottom, rgb(72, 54, 28), #2a1b06);
}

.specific-colors-reversed {
  color: #2a1b06;
  background-color: #480f0f;
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), #9c9c9c);
}

.info-body-right {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: normal;
  padding-top: 75px;
  padding-right: 150px;
}

.info-body-right img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  top: 45px;
  position: absolute;
}